
.navbar-light{
    background-color: white;
}
.navbar-brand img{
    height: 70px;
}
.btn-purple{
    background-color: #4A154B;
    color: white;
}
.btn-purple:hover{
    color: white;
}
.hero{
    width: 90%;
    display: grid;
    margin: auto;
}
#hero{
    background-position-y: 20%;
    background-image: url('./img/asset/img-3.jpg');
    background-size: 20%;
    background-repeat: no-repeat;
}
h1{
    font-weight: bold;
    font-size: 64px;
}
h2{
    font-weight: bold;
    font-size: 32px;
}
p{
    font-size: 16px;
    line-height: 23px;   
}
.section{
    margin: 5% 0 10% 0;
}
.hero-title{
    width: 90%;
    display: grid;
    margin: 0 auto 2% auto;
}
.hero-img{
    width: 100%;
}
.hero-img-sub{
    width: 60%;
}
#inputEmail{
    height: 58px;
}
.btn-get{
    padding: 20px;
    font-weight: bold;
    height: 58px;
}
.form-group{
    margin-left: 0px !important;
}

.section-title{
    text-align: center;
    width: 80%;
    display: grid;
    margin: auto;
}
.dark-bg{
    background-color: #F5F5F5;
    padding: 20px;
}
.card-text{
    text-align: center;
}
.purple-bg{
    background-color: #4A154B;
    padding: 20px;
    color: white;
    text-align: center;
}